{% extends "base.html" %}  
{% import "macros.html" as macros %}
{% block description %}
    Confirmation Page: Hour of Code hosted by Chipy and Northwestern
{% endblock %}

{% block content -%}
<div id="splash" >
  <div id="splash-info" class="text-center">
    {{ macros.nav() }}

        <h1 class="site-title">
        <img src="../static/img/logo.png" style="vertical-align:text-bottom;width:2.5em;padding:0 0.5em;float:left;"></img>
        <span id="event-title" style="vertical-align:middle">Confirmation - Hour of Code</span> </h1>
        <p class="site-description">
            See you December 13 for a fun intro to programming!
        </p>

<form id="registrationForm"
      method="POST"
      onsubmit="return confirm('Really unregister?');"
      style="width:42em;margin-left:auto;margin-right:auto;">
  <label>{{ attendee_data.attendee_name }} (Student) and</label>
  <label>{{ attendee_data.guardian_name }} (Grown-up)</label>
  <input type="hidden" name="unregister" value="True">
  <input type="submit" class="button register-button round-corners" value="Unregister" style="height:3.5em"></input>
</form>

    <span id="flash_container" class=flashes>
      {# Filled using 'doFlashes()' below. #}
    </span>

{% if not attendee_data %}
  <h4>Successfully unregistered, thank you!</h4>
{% elif attendee_data.rank and attendee_data.rank < 20 %}
    <br/>
    <span class="addtocalendar atc-style-blue">
        <var class="atc_event">
            <var class="atc_date_start">2015-12-13 09:00:00</var>
            <var class="atc_date_end">2015-12-13 11:00:00</var>
            <var class="atc_timezone">America/Chicago</var>
            <var class="atc_title">Hour of Code</var>
            <var class="atc_description">ChiPy + Programming for Biologists host a fun hour of code.</var>
            <var class="atc_location">Feinberg School of Medicine, Chicago, IL</var>
            <var class="atc_organizer">ChiPy + Programming for Biologists</var>
        </var>
    </span>
{% endif %}
    </div>

    <div id="overlay"></div>
</div>

<script type="text/javascript">
  (function () {
    if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
    if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
        s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
        s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
        var h = d[g]('body')[0];h.appendChild(s); }})();
</script>
{%- endblock %}
