{% extends "base.html" %}  
{% import "macros.html" as macros %}
{% block description %}
    Registration for the Hour of Code hosted by Chipy and Northwestern
{% endblock %}

{% block content -%}
<div id="splash" >
  <div id="splash-info" class="text-center">
    {{ macros.nav() }}

        <h1 class="site-title">
        <img src="../static/img/logo.png" style="vertical-align:text-bottom;width:2.5em;padding:0 0.5em;float:left;"></img>
        <span id="event-title" style="vertical-align:middle">Register for ChiPy's Hour of Code</span> </h1>
        <p class="site-description">
            Join other students aged 5-10 for a fun intro to programming!
        </p>

    <span id="flash_container" class=flashes>
      {# Filled using 'doFlashes()' below. #}
    </span>

<form id="registrationForm" method="POST" style="width:42em;margin-left:auto;margin-right:auto;">
  <label for="attendee_name">Your name</label>
  <input autofocus="autofocus"
         type="text"
         maxlength=48
         id="attendee_name"
         name="attendee_name"
        {% if attendee_data is None %}
          placeholder="(First and last name)"
        {% elif attendee_data.attendee_name %}
          value="{{ attendee_data.attendee_name }}"
        {% endif %}
         required="required"
         size=24
         style="width:24em"></input>
  <label for="guardian_email">Parent / guardian's email (for confirmation)</label>
  <input type="email"
         maxlength=54
         id="guardian_email"
         name="guardian_email"
        {% if attendee_data is None %}
          placeholder="(Parent or guardian's email)"
        {% elif attendee_data.guardian_email %}
          value="{{ attendee_data.guardian_email }}"
        {% endif %}
         required="required"
         size=32
         style="width:28em"></input>
  <label for="guardian_name">Parent / guardian you are bringing</label>
  <input type="text"
         maxlength=48
         id="guardian_name"
         name="guardian_name"
        {% if attendee_data is None %}
          placeholder="(Parent or guardian's name)"
        {% elif attendee_data.guardian_name %}
          value="{{ attendee_data.guardian_name }}"
        {% endif %}
         required="required"
         size=24
         style="width:24em"></input>
  <input type="submit" id="register" class="button register-button round-corners" name="register" value="Register" style="height:3.5em"></input>
</form>

    </div>

    <div id="overlay"></div>
</div>

{%- endblock %}
